@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.hero {
  background-image: url("/img/heroBG.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}




.slide-card {
  background: rgba(14, 77, 71, 0.8);
  /* #0E4D47 with 0.8 opacity */
  border-radius: 40px;
  /* match your SVG corner radius if needed */
  backdrop-filter: blur(50px);
  /* glass effect */
  -webkit-backdrop-filter: blur(50px);
  /* Safari support */
}


.LH-normal {
  line-height: normal !important;
}


.button-bg {
  position: relative;
  width: 195px;
  /* from SVG rect width */
  height: 85px;
  /* from SVG rect height */
  border-radius: 29px;
  /* rx from rect */
  background: rgba(162, 89, 255, 0.2);
  /* blended between 0.14 + 0.26 opacity layers */
  backdrop-filter: blur(5px);
  /* inner blur effect */
  -webkit-backdrop-filter: blur(5px);
  /* Safari */
  overflow: hidden;
}


.customScrollbar {
  scrollbar-width: thin;
  scrollbar-color: #ffffff #ffffff;
}

.customScrollbar-z {
  scrollbar-width: thin;
  scrollbar-color: #E0DFDC #E0DFDC;
}




.u-element {
  /* height: 100px; */
  width: 80px;
  background: #F6F1E7;
  /* background: #ff0000; */

  border-radius: 0px 0px 40px 40px;
  position: absolute;
  transform-origin: top right;
  right: 10%;
  z-index: 1;
  bottom: -99px;
}




.t-element {
  /* height: 100px; */
  height: 120px;
  width: 65px;
  background: #282828;

  position: absolute;
  transform-origin: top left;
  left: 8%;
  z-index: 1;
  bottom: -118px;
}

.o-element {
  height: 50px;
  width: 50px;
  background: #e0dfdc;

  position: absolute;
  border-radius: 40px 40px 40px 40px;
  transform-origin: top right;
  right: 8%;
  z-index: 1;
  bottom: 6px;
}



.reveal-text-A {
  overflow: hidden;
  /* keeps things tidy */
  display: flex;
  flex-direction: column;
  /* stack lines vertically */
  gap: 0;
}

.reveal-text-A span {
  display: block;
  transform: translateY(100%);
  /* start hidden below */
  opacity: 0;
}








.reveal-text {
  /* overflow: hidden; */
  /* keeps things tidy */
  display: flex;
  flex-direction: column;
  /* stack lines vertically */
  gap: 0;
}



.reveal-text span {
  display: inline-block !important;
  transform: translateY(100%);
  /* start hidden below */
  opacity: 0;
}


.reveal-text-B {
  overflow: hidden;
  /* keeps things tidy */
  display: flex;
  flex-direction: column;
  /* stack lines vertically */
  gap: 0;
}



.reveal-text-B span {
  display: inline-block !important;
  /* start hidden below */
  opacity: 0;
}







.impact-card {


  position: relative;
  /* width: 300px;
  height: 400px; */
  border-radius: 24px;
  backdrop-filter: blur(47.87px);
  -webkit-backdrop-filter: blur(47.87px);
  background: rgb(204 202 196 / 0%);
  /* box-shadow: inset 0px 4px 26.4px rgba(255, 255, 255, 0.99); */
  border: 1px solid transparent;
  background-clip: padding-box, border-box;
  background-origin: border-box;
  /* background-image: linear-gradient(rgba(204, 202, 196, 0.5), rgba(204, 202, 196, 0.5)),
    
    linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(51, 51, 51, 0) 50%, rgba(255, 255, 255, 0.57) 100%); */
}

.impact-card-modal {
  position: relative;
  width: 300px;
  height: 400px;
  border-radius: 24px;
  backdrop-filter: blur(47.87px);
  -webkit-backdrop-filter: blur(47.87px);

  background: rgba(204, 202, 196, 0.5);
  box-shadow: inset 0px 4px 26.4px rgba(255, 255, 255, 0.99);
  border: 1px solid transparent;
  background-clip: padding-box, border-box;
  background-origin: border-box;
  background-image:
    linear-gradient(rgba(204, 202, 196, 0.5), rgba(204, 202, 196, 0.5)),
    linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(51, 51, 51, 0) 50%, rgba(255, 255, 255, 0.57) 100%);
}


.impact-card-wrapper {
  transition: top 0.3s ease-in-out;
}





.fadeout-mask {
  -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 40%);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 40%);
  mask-repeat: no-repeat;
  mask-size: cover;
}

.fadeout-mask-left {
  -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 40%);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 40%);
  mask-repeat: no-repeat;
  mask-size: cover;
}

@media (max-width: 600px) {

  .fadeout-mask-left {
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 40%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 40%);
    mask-repeat: no-repeat;
    mask-size: cover;
  }
}




.hover-card {
  position: relative;

  border-radius: 21px;
  background: linear-gradient(135deg, rgba(39, 39, 39, 0.22) 0%, #095C54 100%);
  border: 1px solid;
  border-image: linear-gradient(135deg, rgba(135, 170, 249, 0.36) 0%, rgba(56, 165, 158, 0.41) 100%) 1;
  backdrop-filter: blur(10px);
  overflow: hidden;
}

.hover-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(5px);
  z-index: -1;
  border-radius: 20.5px;
}


.hover-card-gradient {
  width: 245px;
  height: 178px;
  border-radius: 11px;
  background-color: rgb(49 49 49 / 21%);

  backdrop-filter: blur(10px);
  position: relative;
  overflow: hidden;
}


.hover-card-gradient::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(5px);
  z-index: -1;
  border-radius: 11px;
}


.modal {
  position: relative;
  border-radius: 21px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: linear-gradient(135deg, rgba(162, 89, 255, 0.17) 0%, rgba(255, 31, 125, 0.32) 100%);
  border: 0px solid;
  border-image: linear-gradient(135deg, rgba(135, 170, 249, 0.36) 0%, rgba(56, 165, 158, 0.41) 100%) 1;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.modal::before {
  content: '';
  border-radius: 21px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, rgba(162, 89, 255, 0.05) 0%, rgba(255, 31, 125, 0.08) 100%);
  z-index: -1;
}




.gradient-fill-A {
  width: 184px;
  height: 133px;
  position: absolute;
  overflow: hidden;
}

.gradient-fill-A::before {
  content: '';
  position: absolute;
  width: 82.9084px;
  height: 32.0936px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: linear-gradient(90deg, #FFF302 0%, #03FFB2 50%, #A259FF 100%);
  opacity: 0.4;
  filter: blur(25px);
}


/* not in use */
.gradient-fill-B {
  width: 1728px;
  height: 889px;
  position: relative;
  overflow: hidden;
}

.gradient-fill-B::before {
  content: '';
  position: absolute;
  width: 1310.118px;
  height: 287.73px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: linear-gradient(180deg, #03FFB2 0%, #02E8F2 100%);
  opacity: 0.26;
  filter: blur(150px);
}






/* not in use */
.glass-component {
  position: relative;
  width: 195px;
  height: 85px;
  border-radius: 29px;
  /* background: rgba(96, 96, 96, 0.26); */
  background: rgba(96, 96, 96, 0);

  backdrop-filter: blur(10px) brightness(0.8);
  -webkit-backdrop-filter: blur(10px) brightness(0.8);
  box-shadow:
    inset 0 0 0 1px rgba(255, 255, 255, 0.1),
    0 4px 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.glass-component::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.05) 50%,
      rgba(255, 255, 255, 0.15) 100%);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  clip-path: inset(0 0 0 0 round 29px);
  z-index: -1;
}










.glass-card {
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(17px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0);
  position: relative;
  overflow: hidden;
}

.glass-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(90deg,
      transparent,
      rgba(255, 255, 255, 0.8),
      transparent);
}

.glass-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(180deg,
      rgba(255, 255, 255, 0.8),
      transparent,
      rgba(255, 255, 255, 0.3));
}



.glow-circle {
  width: 100px;
  /* adjust size */
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(circle,
      rgba(0, 255, 200, 1) 0%,
      /* bright cyan center */
      rgba(0, 255, 200, 0.6) 40%,
      /* softer glow mid */
      rgba(0, 255, 200, 0.2) 70%,
      /* faint glow */
      rgba(0, 255, 200, 0) 100%
      /* fully transparent edge */
    );
  filter: blur(30px);
  /* adds that smooth neon fuzz */

}










.gradient-overlay {
  position: relative;
  width: 281px;
  height: 170px;
  background: rgba(3, 255, 178, 0.29);
  border-radius: 50%;
  filter: blur(25px);
  transform: translateZ(0);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
}

.gradient-overlay::before {
  content: '';
  position: absolute;
  inset: 0;
  background: radial-gradient(ellipse at center,
      rgba(3, 255, 178, 0.29) 0%,
      transparent 70%);
  filter: blur(25px);
  mix-blend-mode: overlay;
}








.gradient-text-textSlide {
  background: linear-gradient(to right, #10954C, #3AFF16);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  position: relative;
}

.gradient-text-textSlide::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: linear-gradient(to right, #10954C, #3AFF16);
}







.section-featureDeck { 


  /* --x1: 0%;
  --y1: 0%;
  --x2: 100%;
  --y2: 50%;
  --x3: 100%;
  --y3: 50%;
  --x4: 0%;
  --y4: 100%;

  clip-path: polygon(var(--x1) var(--y1),
      var(--x2) var(--y2),
      var(--x3) var(--y3),
      var(--x4) var(--y4));

  transition: clip-path 0.6s ease;
  will-change: clip-path; */
  will-change: clip-path; 
  transition: clip-path 0.6s ease;

}
