.scene {
  perspective: 10000px;
    perspective-origin: 2000px 190px;
    transform: translateX(-160px);
}



.card-container {
  top: 60px;
  position: relative;
  transform-style: preserve-3d;
  transform-origin: center center -100px;
}



@media (max-width:600px){
  .card-3d-wrap{
    transform: translateZ(300px);
  }

}
