.magnifying-effect,
.magnifying-shine {
  inset: 0;
  overflow: hidden;
  position: absolute;
}

.button svg,
.effect-wrapper {
  transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}

.menu a {
  color: #fff;
  font-size: 18px;
}

.effect-wrapper {
  position: relative;
  display: flex;
  overflow: hidden;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
}

.magnifying-effect {
  z-index: 0;
  backdrop-filter: blur(6px);
  filter: url(#glass-distortion);
  isolation: isolate;
}

.magnifying-tint {
  z-index: 1;
  position: absolute;
  inset: 0;
  /* background: rgba(255, 255, 255, 0.25); */
}

.magnifying-shine {
  z-index: 2;
  box-shadow: inset 0 0 1px 1px rgb(255 255 255 / 15%);
}

.magnifying-text {
  z-index: 3;
  font-size: 2rem;
  color: #000;
}

.wrapper {
  display: flex;
  gap: 25px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.dock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  /* padding: 0.6rem; */
  padding: 0.4rem;
}

.dock,
.dock>div {
  border-radius: 16px;
}

.button {
  padding: 1.5rem 2.5rem;
}

.button,
.button>div {
  border-radius: 3rem;
}

.button:hover {
  padding: 1.8rem 2.8rem;
}

.button:hover>div {
  border-radius: 4rem;
}

.button:hover svg {
  transform: scale(0.95);
}



@media (max-width:380px) {

  .navMobLeft{
      transform: scale(0.8);
    transform-origin: top left;
  }

  .navMobRight {
    transform: scale(0.8);
    transform-origin: top right;
  }
}